bai3/WCF/WindowsFormsApp1/WindowsFormsApp1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59197/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="Loadnxb">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadnxbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="LoadnxbResult" nillable="true" type="q1:ArrayOfNhaxuatban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertnxb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nxb" nillable="true" type="q2:Nhaxuatban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertnxbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatenxb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nxb" nillable="true" type="q3:Nhaxuatban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatenxbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletenxb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nxb" nillable="true" type="q4:Nhaxuatban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletenxbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Loadtg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadtgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="LoadtgResult" nillable="true" type="q5:ArrayOfTacgia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inserttg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="tacgia" nillable="true" type="q6:Tacgia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserttgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatetg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="tacgia" nillable="true" type="q7:Tacgia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatetgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletetg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="tacgia" nillable="true" type="q8:Tacgia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletetgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Loadsach">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadsachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="LoadsachResult" nillable="true" type="q9:ArrayOfSach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertsach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="sach" nillable="true" type="q10:Sach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertsachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatesach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="sach" nillable="true" type="q11:Sach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatesachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletesach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="sach" nillable="true" type="q12:Sach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletesachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tentg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tennxb" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="dataResult" nillable="true" type="q13:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>