bai3/WCF/WindowsFormsApp1/WindowsFormsApp1/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNhaxuatban">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nhaxuatban" nillable="true" type="tns:Nhaxuatban" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhaxuatban" nillable="true" type="tns:ArrayOfNhaxuatban" />
  <xs:complexType name="Nhaxuatban">
    <xs:sequence>
      <xs:element minOccurs="0" name="dienthoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="manxb" type="xs:int" />
      <xs:element minOccurs="0" name="tennxb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nhaxuatban" nillable="true" type="tns:Nhaxuatban" />
  <xs:complexType name="ArrayOfTacgia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tacgia" nillable="true" type="tns:Tacgia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTacgia" nillable="true" type="tns:ArrayOfTacgia" />
  <xs:complexType name="Tacgia">
    <xs:sequence>
      <xs:element minOccurs="0" name="gioitinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matg" type="xs:int" />
      <xs:element minOccurs="0" name="tentg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tacgia" nillable="true" type="tns:Tacgia" />
  <xs:complexType name="ArrayOfSach">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sach" nillable="true" type="tns:Sach" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSach" nillable="true" type="tns:ArrayOfSach" />
  <xs:complexType name="Sach">
    <xs:sequence>
      <xs:element minOccurs="0" name="chungloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dongia" type="xs:double" />
      <xs:element minOccurs="0" name="manxb" type="xs:int" />
      <xs:element minOccurs="0" name="masach" type="xs:int" />
      <xs:element minOccurs="0" name="matg" type="xs:int" />
      <xs:element minOccurs="0" name="ngayxb" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tensach" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sach" nillable="true" type="tns:Sach" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="tennxb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tensach" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tentg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
</xs:schema>